<div fxLayout="row wrap">
  <mat-card class="result">
    <mat-card-content>
      <h2 class="example-h2"></h2>

      <section class="example-section">
        <mat-slide-toggle
          class="example-margin"
          color="accent"
          [checked]="toggle"
          (change)="changeToggle()">
          {{toggle ? 'Жанр' : 'І’мя'}}
        </mat-slide-toggle>
        <mat-form-field class="example-full-width">
          <input matInput #searchString [placeholder]="toggle ? 'Введіть жанр фільму' : 'Введіть і’мя фільму'" type="search" (keyup)="search.makeSearch(searchString.value)" (keyup.enter)="searchFunc(searchString.value)">
        </mat-form-field>
        <button mat-icon-button class="mat-button-search" (click)="searchFunc(searchString.value)" >
          <mat-icon>search</mat-icon>
        </button>

      </section>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="card" *ngFor="let item of dataSource.data">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle><span class="genre-card">{{item.genre.name}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.url}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{item.description | slice:0:70}}...
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions" align="end">
      <button mat-raised-button color="primary" (click)="buyTicket(item.id)">Замовити</button>
    </mat-card-actions>
  </mat-card>
</div>
