<div class="card-container">
  <mat-card class="card" *ngFor="let item of dataSource.data">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle><span *ngFor="let genre of item.genres" class="genre-card">{{genre.name}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.url}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{item.description | slice:0:70}}...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="buyTicket(item.id)">Buy</button>
      <div class="admin-action" *ngIf="role === 'ROLE_ADMIN'">
        <button mat-flat-button color="warn">DELETE</button>
        <button mat-raised-button>EDIT</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
