<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2>Register</h2>
  <mat-form-field>
    <input matInput type="text" formControlName="username" class="form-control" placeholder="Enter username">
    <mat-error *ngIf="submitted && f.username.errors">Error in username</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="password" class="form-control" placeholder="Enter your password">
    <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters</mat-error>
  </mat-form-field>
  <div class="form-group-button">
    <button mat-raised-button [disabled]="loading" class="btn btn-primary">Login</button>
    <a mat-button routerLink="/login">Chancel</a>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
</form>

