<div class="modal">
  <mat-grid-list cols="1" rowHeight="60px">
    <form class="form" #formControl="ngForm" [formGroup]="form">

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput
                 type="text"
                 formControlName="name"
                 placeholder="Name of Film">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <textarea matInput
                    formControlName="description"
                    placeholder="Description">
          </textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>URL</mat-label>
          <input matInput
                 type="text"
                 formControlName="url"
                 placeholder="url of img for film">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-chip-list">
          <mat-form-field>
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genre" [(value)]="genre" >
              <mat-option *ngFor="let item of allGenres" [value]="item">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button
                color="primary"
                [disabled]="!formControl.valid"
                [mat-dialog-close]="1"
                (click)="stop()">
          Save
        </button>
        <button mat-button
                color="warn"
                (click)="onNoClick()"
                tabindex="-1">
          Cancel
        </button>
      </mat-grid-tile>

    </form>
  </mat-grid-list>
</div>
