<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="white">
      <mat-icon class="icon" aria-label="Side nav toggle icon">{{drawer.opened ? 'close' : 'menu'}}</mat-icon>
    </button>
    <span>Cinema</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container id="container" fullscreen >
  <mat-sidenav #drawer mode="side" opened role="navigation" [opened]="false">
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of items" [routerLink]="item.path"> {{item.title}} </a>
    </mat-nav-list>
    <a mat-list-item (click)="Logout()">Logout</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
