<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="white">
      <mat-icon class="icon" aria-label="Side nav toggle icon">{{drawer.opened ? 'close' : 'menu'}}</mat-icon>
    </button>
    <span routerLink=""><a routerLink="/">Кінотеатр</a></span>
    <span class="menu-spacer"></span>
    <div *ngIf="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="menu-icon">Головна</span>
      </button>
      <button mat-button routerLink="/purchased-ticket">
        <mat-icon>people</mat-icon>
        <span class="menu-icon">Білети</span>
      </button>
      <button mat-button [matMenuTriggerFor]="personal">
        <mat-icon>person</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #personal="matMenu">
        <div class="person-data" *ngIf="currentUser">
          <p><b>Welcome {{currentUser.username}}</b></p>
          <mat-divider></mat-divider>

          <div *ngIf="currentUserRole === 'ROLE_ADMIN'">
            <button mat-button routerLink="/admin">
              <mat-icon>local_movies</mat-icon>
              <span class="menu-icon">Фільми</span>
            </button>
            <br>
            <button mat-button routerLink="/admin/tickets">
              <mat-icon>event</mat-icon>
              <span class="menu-icon">Білети</span>
            </button>
            <br>
            <button mat-button routerLink="/admin/genre">
              <mat-icon>storage</mat-icon>
              <span class="menu-icon">Жанри</span>
            </button>
            <br>
            <button mat-button routerLink="/admin/hall">
              <mat-icon>dashboard</mat-icon>
              <span class="menu-icon">Зали</span>
            </button>
          </div>

          <mat-divider></mat-divider>
          <button mat-menu-item (click)="Logout()">
            Вийти
          </button>
        </div>
        <div *ngIf="!currentUser">
          <button mat-menu-item (click)="Login()">
            Ввійти
          </button>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container id="container" fullscreen >
  <mat-sidenav #drawer mode="side" opened role="navigation" [opened]="false">
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of items" [routerLink]="item.path">{{item.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
