.hideItem {
  display: none !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


#container {
  display: flex;
  flex-direction: column;
  top: 64px !important;

  bottom: 0;
  left: 0;
  right: 0;
}

@media(max-width: 599px) {
  #container {
    top: 56px !important;
  }
}
//NORMAL STYLE
:host::ng-deep {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-group-button {
    display: flex;
  }
  .form-group-button {
    display: flex;
  }
  table.mat-table {
    width: 100%;
  }

//  CARDS
  .card {
    max-width: 400px;
    margin: 10px;
  }
  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .card-container {
    display: flex;
  }
  .genre-card:not(:last-child):after {
    content: ", ";
  }
  .admin-action {
    margin-top: 5px;
  }
//  TICKET LIST
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }
  .ticket-page {
    display: flex;
  }
  .tickets {
    margin: 10px;
  }
//  MODAL
  .modal {
    width: 200px;
    height: auto;
  }
}


